#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-toolbar {
  --background: linear-gradient(to right bottom, #0D2B4C, #04508E);
  --color: #ffffff;
  text-align: center;
}

.city-bank-card {
  padding: 15px 20px;
  position: relative;
}

.setting-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  
  &::part(native) {
    border-radius: 12px;
    line-height: 38px;
    width: 88px;
  }
}

.setting-icon {
  margin-right: 5px;
}

.card-content {
  .balance-label {
    font-size: 14px;
  }

  .balance-value {
    font-size: 18px;
    font-weight: bold;
  }
}